<%= form_tag hotel_booking_path, :id => 'payment-form' do %>
<div class="form-row">
    <div class="field">
        <label for="card-number">
            Card Number
        </label>
        <div id="card-number" class="input">
            <!-- A Stripe Element will be inserted here. -->
        </div>
    </div>
    <br />
</div>
<div class="form-row">
    <div class="field half-width" style="float:left; width: 47.5%;">
        <label for="card-exp">
            Expiration Date
        </label>
        <div id="card-exp" class="input">
            <!-- A Stripe Element will be inserted here. -->
        </div>
    </div>

    <div class="field half-width" style="float:right; width: 47.5%;">
        <label for="card-cvc">
            CVC/Identification Number
        </label>
        <div id="card-cvc" class="input">
            <!-- A Stripe Element will be inserted here. -->
        </div>
    </div>
</div>
<!-- Used to display form errors. -->
<div class="form-row">
    <div id="card-errors" role="alert" style="float:right; width: 100%; margin-top:5px;">
        <span id="error-msg" style="color: #fa755a;"></span>
    </div>
</div>
<button style="margin-top:10px">Submit Payment</button>
<% end %>

<style>
.StripeElement {
    background-color: white;
    /*height: 40px;*/
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
</style>


<script type="text/javascript">

// Create a Stripe client
var stripe = Stripe($('meta[name="stripe-key"]').attr('content'));

// Create an instance of Elements
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
var style = {
    base: {
        color: '#32325d',
        lineHeight: '24px',
        /*fontFamily: 'Helvetica Neue',*/
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
            color: '#aab7c4'
        }
    },
    invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
    }
};

// create an instance of the card element
var card = elements.create('cardNumber', {style: style});
var exp = elements.create('cardExpiry', {style: style});
var cvc = elements.create('cardCvc', {style: style});
var elements = [card, exp, cvc]

// add an instance of the card element into the `card-element` <div>
card.mount('#card-number');
exp.mount('#card-exp');
cvc.mount('#card-cvc');

// listen for errors from each element, and display error messages in the UI
var error = document.getElementById('card-errors')
var errorMessage = document.getElementById('error-msg');
var savedErrors = {};
elements.forEach(function(element, index) {
    element.addEventListener('change', function(event) {
        if (event.error) {
            savedErrors[index] = event.error.message;
            errorMessage.innerText = event.error.message;
        } else {
            savedErrors[index] = null;

            // loop over the saved errors and find the first one, if any
            var nextError = Object.keys(savedErrors)
            .sort()
            .reduce(function(maybeFoundError, key) {
                return maybeFoundError || savedErrors[key];
            }, null);

            if (nextError) {
                // now that they've fixed the current error, show another one
                errorMessage.innerText = nextError;
            } else {
                // the user fixed the last error - there are no more errors
                errorMessage.innerText = "";
            }
        }
    });
});

// handle form submission
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
        if (result.error) {
            // inform the user if there was an error
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
            console.log(result.error.message);
        } else {
            // send the token to your server
            alert(JSON.stringify(result.token));
            console.log(JSON.stringify(result.token));

            // insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', result.token.id);
            form.appendChild(hiddenInput);
            //alert(result.token.id);
            alert('Your payment details have been processed.');
            // submit the form
            form.submit();
        }
    });
});
</script>
