
<!DOCTYPE html>
<html lang="en">
<head>

</head>  
<body class="inner-body">  

<!-- main-cont -->
<div class="main-cont">  	
	
	<div class="inner-page">
		<div class="inner-breadcrumbs">
			<div class="content-wrapper">
				<div class="page-title">Rewards</div>
				<div class="breadcrumbs">
        			<a href="#">Account</a> / <span>Rewards</span>
      			</div>
      			<div class="clear"></div>
      		</div>		
		</div>
		
		<div class="rewards-card-wrapper">
            <div class="rewards-card-lbl" style="margin-bottom: 250px">
            You have <%= current_user.reward_points %> point(s).<br/>
            <% if current_user.reward_points < 10 %>
            	Book more stays to get a free stay at a hotel!
            <% end %>
            <% if current_user.reward_points >= 10 %>
            	Congrats!, use your points to get a free stay at any hotel!
            <% end %>

			</div>
		</div>				
	</div>
</div>
<!-- /main-cont -->

 
</body>  
</html> 