
<!DOCTYPE html>
<html lang="en">
<head>

</head>  
<body class="inner-body">  

<!-- main-cont -->
<div class="main-cont">  	
	
	<div class="inner-page">
		<div class="inner-breadcrumbs">
			<div class="content-wrapper">
				<div class="page-title">Rewards</div>
				<div class="breadcrumbs">
        			<a href="#">Account</a> / <span>Rewards</span>
      			</div>
      			<div class="clear"></div>
      		</div>		
		</div>
		
		<div class="rewards-card-wrapper">
            <div class="rewards-card-lbl">
            User, you have  point(s).<br />
            You are points away from a free stay!
			</div>
		</div>				
	</div>
</div>
<!-- /main-cont -->

 
</body>  
</html> 