<!DOCTYPE html>
<html lang="en">
<head>

</head>  
<body class="inner-body">  

<!-- main-cont -->
<div class="main-cont">  	
	
	<div class="inner-page">
		<div class="inner-breadcrumbs">
			<div class="content-wrapper">
				<div class="page-title">Services</div>
				<div class="breadcrumbs">
        			<a href="#">Home</a> / <span>Services</span>
      			</div>
      			<div class="clear"></div>
      		</div>		
		</div>
		
		<div class="about-content">
			<div class="content-wrapper">
				<header class="page-lbl fly-in">
					<div class="offer-slider-lbl">Our services</div>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
				</header>			
				<div class="services fly-in">
					<div class="services-row">
						<!-- // -->
						<div class="services-i">
							<div class="services-img"><img alt="" src="assets/services-01.png"></div>
							<div class="services-lbl">trip planning</div>
							<div class="services-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</div>
						</div>
						<!-- \\ -->
						<!-- // -->
						<div class="services-i">
							<div class="services-img"><img alt="" src="assets/services-02.png"></div>
							<div class="services-lbl">Best tour pricing</div>
							<div class="services-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</div>
						</div>
						<!-- \\ -->
						<!-- // -->
						<div class="services-i">
							<div class="services-img"><img alt="" src="assets/services-03.png"></div>
							<div class="services-lbl">quick search </div>
							<div class="services-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</div>
						</div>
						<!-- \\ -->
						<!-- // -->
						<div class="services-i">
							<div class="services-img"><img alt="" src="assets/services-04.png"></div>
							<div class="services-lbl">Great support</div>
							<div class="services-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</div>
						</div>
						<!-- \\ -->
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		
		<div class="about-us-devider fly-in"></div>
						
		<div class="solutions">
			<div class="content-wrapper">
			<header class="page-lbl fly-in">
				<div class="offer-slider-lbl">SOLUTION FOR YOUR trip</div>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
			</header>		
			<div class="solutions-row fly-in">
				<!-- // -->
					<div class="solutions-i">
						<div class="solution-icon-a"></div>
						<div class="solutions-over">
							<div class="solutions-over-a">
								<div class="solutions-over-b">
									<div class="solutions-over-c">
										<i class="solution-icon"></i>
										<div class="solution-lbl">Plan your trip</div>
									</div>
									<div class="solutions-over-d">
										<i class="solution-icon"></i>
										<div class="solution-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quioluptatem sequ.</div>										
									</div>
								</div>
							</div>
						</div>					
						<div class="solutions-img">
							<img alt="" src="assets/solution-01.jpg">
						</div>
					</div>
				<!-- \\ -->
				<!-- // -->
					<div class="solutions-i">
						<div class="solution-icon-a"></div>
						<div class="solutions-over">
							<div class="solutions-over-a">
								<div class="solutions-over-b">
									<div class="solutions-over-c">
										<i class="solution-icon"></i>
										<div class="solution-lbl">Online booking</div>
									</div>
									<div class="solutions-over-d">
										<i class="solution-icon"></i>
										<div class="solution-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quioluptatem sequ.</div>										
									</div>
								</div>
							</div>
						</div>					
						<div class="solutions-img">
							<img alt="" src="assets/solution-02.jpg">
						</div>
					</div>
				<!-- \\ -->
				<!-- // -->
					<div class="solutions-i">
						<div class="solution-icon-a"></div>
						<div class="solutions-over">
							<div class="solutions-over-a">
								<div class="solutions-over-b">
									<div class="solutions-over-c">
										<i class="solution-icon"></i>
										<div class="solution-lbl">visit the best countries</div>
									</div>
									<div class="solutions-over-d">
										<i class="solution-icon"></i>
										<div class="solution-txt">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quioluptatem sequ.</div>										
									</div>
								</div>
							</div>
						</div>					
						<div class="solutions-img">
							<img alt="" src="assets/solution-03.jpg">
						</div>
					</div>
				<!-- \\ -->
			</div>
			<div class="clear"></div>
			</div>
		</div>				

		<div class="solution-partners">
			<div class="content-wrapper">
			<header class="page-lbl fly-in">
				<div class="offer-slider-lbl">our parthners</div>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
			</header>		
      		<div class="partners fly-in">
    			<a href="#"><img alt="" src="assets/partner-01.png" /></a>
    			<a href="#"><img alt="" src="assets/partner-02.png" /></a>
    			<a href="#"><img alt="" src="assets/partner-03.png" /></a>
    			<a href="#"><img alt="" src="assets/partner-04.png" /></a>
    			<a href="#"><img alt="" src="assets/partner-05.png" /></a>
    			<a href="#"><img alt="" src="assets/partner-06.png" /></a>
      		</div>	
			<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<!-- /main-cont -->

 
</body>  
</html> 