<div class="rewards-card-wrapper">
    <div class="rewards-card-lbl">
        User, you have <%= pts %> point(s).<br />
        You are <%= 10 - pts %> points away from a free stay!
    </div>
</div>
