<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="inner-body">

<!-- main-cont -->
<div class="main-cont">

	<div class="inner-page">
		<div class="inner-breadcrumbs">
			<div class="content-wrapper">
				<div class="page-title">My Reservation</div>
				<div class="breadcrumbs">
        			<a href="#">Account</a> / <span>My Reservation</span>
      			</div>
      			<div class="clear"></div>
      		</div>
		</div>
			<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<!-- /main-cont -->
<div class="card">
<center><h1>Reservation</h1></center>
<img src="assets/2-5.jpg" alt="picture" style="width:100%">
<p><a href="#"class="Name">Hotel Name: </a></p>
<p><a href="#"class="date">Date Booking: </a></p>
<p><a href="#"class="cost">Cost: </a></p>
<p><a href="#"class="decrip">Decription: </a></p>
<p><button>View Detail</button></p>
<p><button>Book Now</button></p>
</div>

</body>
</html>
