<!DOCTYPE html>
<!-- blank template for charges pages, because current application template breaks checkout button somehow -->
<html>
    <head></head>
    <body>
        <%= yield %>
    </body>
</html>
